<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Defaults.LtiLearnerCode" value="BB123"/>
    <add key="Defaults.LtiLearnerEmail" value="bugs.bunny@example.com"/>
    <add key="Defaults.LtiLearnerNameFirst" value="Bugs"/>
    <add key="Defaults.LtiLearnerNameLast" value="Bunny"/>
    <add key="Defaults.LtiGroupName" value="Tunes"/>
    <add key="Defaults.LtiOrganizationIdentifier" value="f85f5022-341e-4236-b69c-75b29e134972"/>
    <add key="Defaults.LtiOrganizationSecret" value="bB8u6Tj60uJL2RKYR0OCyiGMdds9gaEUs9Q2d3bRTTVRKJ516CCc1LeSMChAI0rc"/>
    <add key="Defaults.LtiLaunchUrl" value="https://dev-demo.shiftiq.com/ui/lobby/integration/lti/launch"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <authorization>
      <allow users="*"/>
    </authorization>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add assembly="System.Globalization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </assemblies>
    </compilation>
    <customErrors mode="Off" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="/404.aspx"/>
    </customErrors>
    <httpRuntime executionTimeout="110" maxRequestLength="524288" requestValidationMode="2.0" targetFramework="4.5" requestPathInvalidCharacters=""/>
    <globalization uiCulture="en" culture="en-CA"/>
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" enableEventValidation="false" validateRequest="false" viewStateEncryptionMode="Never">
      <controls/>
      <namespaces>
        <add namespace="System.Data"/>
        <add namespace="System.Web"/>
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="_settings"/>
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>